body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas#canvas {
  width: 500px;
  height: 500px;
}